<h2>Formulaire non réactif : </h2>

<div class="container">
  <form tcFirstLastValidator (ngSubmit)="valider(statutForm)" #statutForm="ngForm" [ngFormOptions]="{updateOn : 'blur'}">
    <div class="row">
      <div class="col-3">
        <label for="pseudoInput" class="form-label">Pseudo : </label>
      </div>
      <div class="col-6">
        <input type="text" #statutPseudo="ngModel" name="pseudo" id="pseudoInput" class="form-control"
          [(ngModel)]="newColleague.pseudo" required tcPseudoValidator>
        <p *ngIf="statutPseudo.hasError('required') && statutPseudo.dirty">
          Champ requis
        </p>
        <p *ngIf="statutPseudo.dirty && statutPseudo.hasError('InvalidPseudo')">
          Ce pseudo existe déjà
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label for="nomInput" class="form-label">Nom : </label>
      </div>
      <div class="col-6">
        <input type="text" #statutLast="ngModel" name="last" id="nomInput" class="form-control"
          [(ngModel)]="newColleague.last" required minlength="2">
        <p *ngIf="statutLast.invalid && statutLast.dirty">
          Champ invalide (min 2 caractères)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label for="prenomInput" class="form-label">Prénom : </label>
      </div>
      <div class="col-6">
        <input type="text" #statutFirst="ngModel" name="first" id="prenomInput" class="form-control"
          [(ngModel)]="newColleague.first" required minlength="2">
        <p *ngIf="statutFirst.invalid && statutFirst.dirty">
          Champ invalide (min 2 caractères)
        </p>
        <p *ngIf="checkFirstLast(statutForm)">
          Le nom et le prénom doivent-être différents
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label for="urlInput" class="form-label">Photo URL : </label>
      </div>
      <div class="col-6">
        <input type="url" #statutPhoto="ngModel" name="photo" id="urlInput" class="form-control"
          [(ngModel)]="newColleague.photo" required>
        <p *ngIf="statutPhoto.invalid && statutPhoto.dirty">
          Champ requis
        </p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="statutForm.invalid" style="margin: 1em;">Ajouter</button>


  </form>
</div>
