<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-6 col-md-4">
      <div type="button" class="btn btn-primary" style="margin:1em">Rafraichir la Page</div>
    </div>
    <div class = "col-6 col-md-4">
      <tc-counter style="margin:1em"></tc-counter>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="row">
        <tc-colleague-list></tc-colleague-list>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <tc-voting-history></tc-voting-history>
    </div>
  </div>
</div>
