<form [formGroup]="formColleague">
  <div>
    <label for="pseudoInput" class="form-label">Pseudo : </label>
    <input type="text" formControlName="pseudo" id="pseudoInput" class="form-control">
    <p *ngIf="pseudoInvalid">
      Champ requis
    </p>
  </div>

<div>
  <label for="nomInput" class="form-label">Nom : </label>
  <input type="text" formControlName="last" id="nomInput" class="form-control">
  <p *ngIf="lastInvalid">
    Champ invalide (min 2 caractères)
  </p>
</div>

<div>
  <label for="prenomInput" class="form-label">Prénom : </label>
  <input type="text" formControlName="first" id="prenomInput" class="form-control">
  <p *ngIf="firstInvalid">
    Champ invalide (min 2 caractères)
  </p>
</div>

<div>
  <label for="urlInput" class="form-label">Photo URL : </label>
  <input type="url" formControlName="photo" id="urlInput" class="form-control">
  <p *ngIf="photoInvalid">
    Champ requis
  </p>
</div>

<button type="submit" class="btn btn-primary" (click)="valider()">Ajouter</button>


</form>
